<div *ngIf="tour$ | async as tour; else notFound" class="tour-info">
    <img [src]="tour.image" alt="{{ tour.name }}" class="tour-image">
    <div class="tour-details">
      <h1>{{ tour.name }}</h1>
      <p><strong>Location:</strong> {{ tour.location }}</p>
      <p><strong>Price:</strong> {{ tour.price }} tg</p>
      <p style="color: rgb(255, 217, 0); font-size:32px;">{{ '★★★★★'.slice(0, tour.stars) }}</p>
      <p class="description">{{ tour.description }}</p>
      <button>Book Now</button>
    </div>
  </div>
  
  <ng-template #notFound>
    <p>Tour not found.</p>
  </ng-template>
  