
    <!-- <img [src]="tour.image" alt="{{ tour.name }}">
    <h3>{{ tour.name }}</h3>
    <p>place: {{ tour.location }}</p>
    <p>price: {{ tour.price }} ò.</p>
    <p>star {{ tour.stars }}</p>
    <button>Buy</button> -->

    <div class="card" style="width: 18rem;">
        <img [src]="tour.image" alt="{{ tour.name }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ tour.name }}</h5>
            <p>place: {{ tour.location }}</p>
            <p>price: {{ tour.price }} tg.</p>
            <p>star {{ tour.stars }}</p>
            <button>Buy</button>
        </div>
      </div>
  