<header class="header">
    <div class="header-container"> 
        <div class="logo"><img src="../../../assets/logo.png" alt="LOGO"></div>
        <nav>
            <a [routerLink]="['/']">Home</a>
            <a href="#">Tours</a>
            <a [routerLink]="['/contacts']">Contacts</a>
            <a href="#">Assistant bot</a>
        </nav>
        <a id="log" [routerLink]="['/login']" *ngIf="!(isLoggedIn)">Login</a>
        <button id="log" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
    </div>
</header>