.tour-list {
    display: flex;
    justify-content: center;
    gap: 0%; 
}

.filter-container {
    width: 250px;
    padding: 20px;
    position: sticky;
    top: 100px;
    height: fit-content;
}
.container{
    margin-top: -200px;
    margin-left: 250px;
}

.tour-container {
    display: grid;
    grid-template-columns: repeat(3, 300px); 
    gap: 25px;
    padding: 20px;
    
}

.tour-container h5{
 font-size: 16px;
 text-align: left;   
}

.tour-container p{
    font-size: 14px;
    text-align: left; 
    margin: 0%;  
}
.tour-item {
    width: 300px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
  
.card:hover {
    transform: scale(1.02);
}
  
.card-img-top {
    width: 270px;
    height: 100%;
    margin-left: 15px;
    margin-top: 15px;
    object-fit: cover;
}
  
.card-body {
    text-align: left;
    margin: 0px 5px;
}

.card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
  
button {
    background-color: #ff7700;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
    width: 100%;
}
  
button:hover {
    background-color: #e04d2a;
}  

.stars {
    color:rgb(255, 208, 0);
}