.login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: center;
    min-width: 350px;
    max-width: 600px;
    padding-top: 100px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #ff5500;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  